---
http_interactions:
- request:
    method: get
    uri: https://emma.pixnet.cc/blog/articles/search?key=soumyaray&page=1&per_page=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - f68eeb3baea378ac9f4245c7a0dca517a54d732c2aac2e95f8c8d86e6b254b28
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total":0,"per_page":2,"page":1,"message":"List articles successfully","error":0,"api_version":2}'
  recorded_at: Wed, 04 Nov 2020 13:50:11 GMT
- request:
    method: get
    uri: https://emma.pixnet.cc/blog/articles/search?key=%E8%9E%BA%E7%B5%B2%E7%91%AA%E8%8E%89%20Rose%20Mary&page=2&per_page=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - cc56ef7bd11bb7a83e6b6efcf0477f342ac1bbbca24a073ba1bbed5a8e5eb12f
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"articles":[{"id":"437985286","public_at":"1444927348","last_modified":"1480470281","site_category":"美味食記","site_category_id":"26","sub_site_category":"未選擇","sub_site_category_id":"-1","category":"歐式料理","category_id":"5333095","link":"https:\/\/roxfungkimo.pixnet.net\/blog\/post\/437985286","status":"2","is_top":"0","is_nl2br":"0","comment_perm":"1","comment_hidden":"0","title":"「螺絲瑪莉」~~巷弄裡的超人氣義式料理．料多味美CP值超高(捷運中山站美食)","thumb":"https:\/\/imageproxy.pimg.tw\/zoomcrop?url=https%3A%2F%2Ffarm1.staticflickr.com%2F738%2F22122414871_fb4680f40d_z.jpg&width=90&height=90","cover":"","hits":{"total":1187,"daily":0},"info":{"trackbacks_count":0,"comments_count":0,"shareds_count":0,"hit":1187},"hit_uri":"https:\/\/counter.pixplug.in\/count.php?timestamp=1604497816&random=435821996&check=4225417434&no_timeout=2&data[blogarticle]=%7B%22blogid%22%3A%224462082%22%2C%22articleid%22%3A%22437985286%22%2C%22no_timeout%22%3A2%7D","sns":{"twitter":null,"facebook":"333718706774559_788143587998733","plurk":null},"tags":[{"tag":"螺絲瑪莉","locked":0,"added_by":"roxfungkimo","is_poi":false},{"tag":"義大利麵","locked":0,"added_by":"roxfungkimo","is_poi":false},{"tag":"義式料理","locked":0,"added_by":"roxfungkimo","is_poi":false},{"tag":"中山站美食","locked":0,"added_by":"roxfungkimo","is_poi":false},{"tag":"人氣餐廳","locked":0,"added_by":"roxfungkimo","is_poi":false}],"location":{"latitude":25.051715,"longitude":121.521913,"geojson":{"type":"Point","coordinates":[121.521913,25.051715]}},"address":"台北市中山區南京西路12巷13弄9號","user":{"name":"roxfungkimo","display_name":"寶小銘","avatar":"https:\/\/s2.pimg.tw\/avatar\/roxfungkimo\/0\/0\/resize\/90x0.png?v=1559466164","cavatar":"https:\/\/s2.pimg.tw\/avatar\/roxfungkimo\/0\/0\/zoomcrop\/90x90.png?v=1559466164","link":"https:\/\/roxfungkimo.pixnet.net","member_uniqid":"998025717a5650c4cc","is_vip":false,"has_ad":true,"avatar_role_id":2,"avatar_role_url":"https:\/\/s.pixfs.net\/common\/icons\/planet--icon-2.png"}}],"total":2420,"per_page":1,"page":2,"message":"List
        articles successfully","error":0,"api_version":2}'
  recorded_at: Wed, 04 Nov 2020 13:50:16 GMT
recorded_with: VCR 6.0.0
