---
http_interactions:
- request:
    method: get
    uri: https://emma.pixnet.cc/blog/articles/search?key=soumyaray&page=1&per_page=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - f68eeb3baea378ac9f4245c7a0dca517a54d732c2aac2e95f8c8d86e6b254b28
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total":0,"per_page":2,"page":1,"message":"List articles successfully","error":0,"api_version":2}'
  recorded_at: Wed, 04 Nov 2020 13:50:11 GMT
- request:
    method: get
    uri: https://emma.pixnet.cc/blog/articles/search?key=%E8%9E%BA%E7%B5%B2%E7%91%AA%E8%8E%89%20Rose%20Mary&page=2&per_page=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - cc56ef7bd11bb7a83e6b6efcf0477f342ac1bbbca24a073ba1bbed5a8e5eb12f
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"articles":[{"id":"437985286","public_at":"1444927348","last_modified":"1480470281","site_category":"美味食記","site_category_id":"26","sub_site_category":"未選擇","sub_site_category_id":"-1","category":"歐式料理","category_id":"5333095","link":"https:\/\/roxfungkimo.pixnet.net\/blog\/post\/437985286","status":"2","is_top":"0","is_nl2br":"0","comment_perm":"1","comment_hidden":"0","title":"「螺絲瑪莉」~~巷弄裡的超人氣義式料理．料多味美CP值超高(捷運中山站美食)","thumb":"https:\/\/imageproxy.pimg.tw\/zoomcrop?url=https%3A%2F%2Ffarm1.staticflickr.com%2F738%2F22122414871_fb4680f40d_z.jpg&width=90&height=90","cover":"","hits":{"total":1187,"daily":0},"info":{"trackbacks_count":0,"comments_count":0,"shareds_count":0,"hit":1187},"hit_uri":"https:\/\/counter.pixplug.in\/count.php?timestamp=1604497816&random=435821996&check=4225417434&no_timeout=2&data[blogarticle]=%7B%22blogid%22%3A%224462082%22%2C%22articleid%22%3A%22437985286%22%2C%22no_timeout%22%3A2%7D","sns":{"twitter":null,"facebook":"333718706774559_788143587998733","plurk":null},"tags":[{"tag":"螺絲瑪莉","locked":0,"added_by":"roxfungkimo","is_poi":false},{"tag":"義大利麵","locked":0,"added_by":"roxfungkimo","is_poi":false},{"tag":"義式料理","locked":0,"added_by":"roxfungkimo","is_poi":false},{"tag":"中山站美食","locked":0,"added_by":"roxfungkimo","is_poi":false},{"tag":"人氣餐廳","locked":0,"added_by":"roxfungkimo","is_poi":false}],"location":{"latitude":25.051715,"longitude":121.521913,"geojson":{"type":"Point","coordinates":[121.521913,25.051715]}},"address":"台北市中山區南京西路12巷13弄9號","user":{"name":"roxfungkimo","display_name":"寶小銘","avatar":"https:\/\/s2.pimg.tw\/avatar\/roxfungkimo\/0\/0\/resize\/90x0.png?v=1559466164","cavatar":"https:\/\/s2.pimg.tw\/avatar\/roxfungkimo\/0\/0\/zoomcrop\/90x90.png?v=1559466164","link":"https:\/\/roxfungkimo.pixnet.net","member_uniqid":"998025717a5650c4cc","is_vip":false,"has_ad":true,"avatar_role_id":2,"avatar_role_url":"https:\/\/s.pixfs.net\/common\/icons\/planet--icon-2.png"}}],"total":2420,"per_page":1,"page":2,"message":"List
        articles successfully","error":0,"api_version":2}'
  recorded_at: Wed, 04 Nov 2020 13:50:16 GMT
- request:
    method: get
    uri: https://emma.pixnet.cc/poi?page=1&per_page=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - 2644c84a589e82d7731d1ecf3ab38c2da049d4a80aac06b43a10e1e2414f2063
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":0,"message":"取得資料成功","data":{"page":1,"per_page":2,"total_num":117278,"total_page":58639,"pois":[{"hash_id":"c145315796e83fbe5412dafc12c0cd47","category_id":0,"cover_image_url":"https:\/\/pic.pimg.tw\/pixevents\/1559096862-1906416432.jpg","name":"螺絲瑪莉
        Rose Mary","branch_store_name":"","opening_hours_info":{"date":{"Mo":["11:30-14:30","17:30-20:30"],"Tu":["11:30-14:30","17:30-20:30"],"We":["11:30-14:30","17:30-20:30"],"Th":["11:30-14:30","17:30-20:30"],"Fr":["11:30-14:30","17:30-20:30"],"Sa":["11:30-14:30","17:30-20:30"],"Su":["11:30-14:30","17:30-20:30"]},"is_open":true,"opening_time":"","permanently_closed":false},"icon":{"url":"https:\/\/pic.pimg.tw\/pixevents\/1559096862-1906416432.jpg","source_name":"","source_url":"","locked":false},"money":275,"money_description":"平均101-300元\/人","telephone":"02
        2521 9822","payment_method":[],"equipment":[],"urls":{"website":"","facebook":"","instagram":""},"view":8306,"articles_count":0,"address":{"zipcode":"","country":"TW","city":"台北市","town":"中山區","street":"南京西路12巷13弄9號"},"geo":{"latitude":25.0517157,"longitude":121.5219134,"distance":null},"rating":{"avg":4.2,"count":20},"tags":["義式料理"],"comment_tags":[]},{"hash_id":"178bc1c54dae0f3a092a0fe4bf119e18","category_id":0,"cover_image_url":"https:\/\/s.pixfs.net\/common\/poi\/restaurant.jpg","name":"三味食堂日式料理","branch_store_name":"","opening_hours_info":{"date":{"Mo":["11:30-14:30","17:00-22:00"],"Tu":["11:30-14:30","17:00-22:00"],"We":["11:30-14:30","17:00-22:00"],"Th":["11:30-14:30","17:00-22:00"],"Fr":["11:30-14:30","17:00-22:00"],"Sa":["11:30-14:30","17:00-22:00"],"Su":["11:30-14:30","17:00-22:00"]},"is_open":true,"opening_time":"","permanently_closed":false},"icon":{"url":"https:\/\/pic.pimg.tw\/dkdk0824\/1602306772-3216173205-g_n.jpg","source_name":"蝌醬","source_url":"http:\/\/dkdk0824.pixnet.net\/blog\/post\/327910045","locked":false},"money":308,"money_description":"平均301-500元\/人","telephone":"02
        2389 2211","payment_method":[],"equipment":[],"urls":{"website":"","facebook":"","instagram":""},"view":8476,"articles_count":0,"address":{"zipcode":"","country":"TW","city":"台北市","town":"萬華區","street":"貴陽街二段116號"},"geo":{"latitude":25.0399176,"longitude":121.5026592,"distance":null},"rating":{"avg":4.6,"count":8},"tags":["日式料理","日本料理","綜合日式料理"],"comment_tags":[]}]},"api_version":2}'
  recorded_at: Thu, 12 Nov 2020 10:04:50 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%E8%9E%BA%E7%B5%B2%E7%91%AA%E8%8E%89RoseMary&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ6di4z26pQjQRDuQAecDvA_U"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 12 Nov 2020 10:04:51 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GMAP_TOKEN>&language=zh-TW&place_id=ChIJ6di4z26pQjQRDuQAecDvA_U
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : {\n      \"address_components\"
        : [\n         {\n            \"long_name\" : \"9號\",\n            \"short_name\"
        : \"9號\",\n            \"types\" : [ \"street_number\" ]\n         },\n         {\n
        \           \"long_name\" : \"南京西路12巷13弄\",\n            \"short_name\" :
        \"南京西路12巷13弄\",\n            \"types\" : [ \"route\" ]\n         },\n         {\n
        \           \"long_name\" : \"中山區\",\n            \"short_name\" : \"中山區\",\n
        \           \"types\" : [ \"administrative_area_level_3\", \"political\" ]\n
        \        },\n         {\n            \"long_name\" : \"台北市\",\n            \"short_name\"
        : \"台北市\",\n            \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n         },\n         {\n            \"long_name\" : \"台灣\",\n            \"short_name\"
        : \"TW\",\n            \"types\" : [ \"country\", \"political\" ]\n         },\n
        \        {\n            \"long_name\" : \"104\",\n            \"short_name\"
        : \"104\",\n            \"types\" : [ \"postal_code\" ]\n         }\n      ],\n
        \     \"adr_address\" : \"\\u003cspan class=\\\"postal-code\\\"\\u003e104\\u003c/span\\u003e\\u003cspan
        class=\\\"country-name\\\"\\u003e台灣\\u003c/span\\u003e\\u003cspan class=\\\"region\\\"\\u003e台北市\\u003c/span\\u003e\\u003cspan
        class=\\\"locality\\\"\\u003e中山區\\u003c/span\\u003e\\u003cspan class=\\\"street-address\\\"\\u003e南京西路12巷13弄9號\\u003c/span\\u003e\",\n
        \     \"business_status\" : \"OPERATIONAL\",\n      \"formatted_address\"
        : \"104台灣台北市中山區南京西路12巷13弄9號\",\n      \"formatted_phone_number\" : \"02 2521
        9822\",\n      \"geometry\" : {\n         \"location\" : {\n            \"lat\"
        : 25.051715,\n            \"lng\" : 121.521913\n         },\n         \"viewport\"
        : {\n            \"northeast\" : {\n               \"lat\" : 25.0530462802915,\n
        \              \"lng\" : 121.5232561302915\n            },\n            \"southwest\"
        : {\n               \"lat\" : 25.05034831970849,\n               \"lng\" :
        121.5205581697085\n            }\n         }\n      },\n      \"icon\" : \"https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png\",\n
        \     \"international_phone_number\" : \"+886 2 2521 9822\",\n      \"name\"
        : \"蘿絲瑪莉義麵坊\",\n      \"opening_hours\" : {\n         \"open_now\" : true,\n
        \        \"periods\" : [\n            {\n               \"close\" : {\n                  \"day\"
        : 0,\n                  \"time\" : \"1430\"\n               },\n               \"open\"
        : {\n                  \"day\" : 0,\n                  \"time\" : \"1130\"\n
        \              }\n            },\n            {\n               \"close\"
        : {\n                  \"day\" : 0,\n                  \"time\" : \"2030\"\n
        \              },\n               \"open\" : {\n                  \"day\"
        : 0,\n                  \"time\" : \"1730\"\n               }\n            },\n
        \           {\n               \"close\" : {\n                  \"day\" : 1,\n
 [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%E4%B8%89%E5%91%B3%E9%A3%9F%E5%A0%82%E6%97%A5%E5%BC%8F%E6%96%99%E7%90%86&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJjRzzCaipQjQRzNo88d0xnbo"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Thu, 12 Nov 2020 10:04:52 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GMAP_TOKEN>&language=zh-TW&place_id=ChIJjRzzCaipQjQRzNo88d0xnbo
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : {\n      \"address_components\"
        : [\n   [...]
[...]
- request:
    method: get
    uri: https://emma.pixnet.cc/blog/articles/search?key=%E4%B8%89%E5%91%B3%E9%A3%9F%E5%A0%82%E6%97%A5%E5%BC%8F%E6%96%99%E7%90%86&page=10&per_page=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - f68eeb3baea378ac9f4245c7a0dca517a54d732c2aac2e95f8c8d86e6b254b28
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      stri[...]
[...]
- request:
    method: get
    uri: https://emma.pixnet.cc/poi?city=%E5%8F%B0%E5%8C%97%E5%B8%82&page=1&per_page=9&town=%E4%B8%AD%E5%B1%B1%E5%8D%80
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - accba0a034a15285992d98a77d04b5f95ed4cda9accc22286f6f9c7e2c955d9a
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":0,"message":"取得[...]
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=&fileType=jpg&imgType=photo&key=<GMAP_TOKEN>&q=%E5%8D%9A%E5%A4%9A%E4%B8%80%E9%A2%A8%E5%A0%82%E6%8B%89%E9%BA%B5%E6%96%99%E7%90%86&searchType=image
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "Request contains an invalid argument.",
            "errors": [
              {
                "message": "Request contains an invalid argument.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Sun, 27 Dec 2020 15:57:09 GMT
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=&fileType=jpg&imgType=photo&key=<GMAP_TOKEN>&q=%E7%A7%81%E5%AE%85%E6%89%93%E9%82%8A%E7%88%90%E6%96%99%E7%90%86&searchType=image
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "Request contains an invalid argument.",
            "errors": [
              {
                "message": "Request contains an invalid argument.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Sun, 27 Dec 2020 16:00:58 GMT
- request:
    method: get
    uri: https://customsearch.googleapis.com/customsearch/v1?cx=&fileType=jpg&imgType=photo&key=<GMAP_TOKEN>&q=%E9%BE%8D%E9%83%BD%E9%85%92%E6%A8%93%E6%96%99%E7%90%86&searchType=image
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "Request contains an invalid argument.",
            "errors": [
              {
                "message": "Request contains an invalid argument.",
                "domain": "global",
                "reason": "badRequest"
              }
            ],
            "status": "INVALID_ARGUMENT"
          }
        }
  recorded_at: Sun, 27 Dec 2020 16:01:55 GMT
recorded_with: VCR 6.0.0
