---
http_interactions:
- request:
    method: get
    uri: https://emma.pixnet.cc/explorer/keywords?format=json&key=soumyaray
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - f68eeb3baea378ac9f4245c7a0dca517a54d732c2aac2e95f8c8d86e6b254b28
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":0,"message":"取得資料成功","data":[],"api_version":"beta"}'
  recorded_at: Wed, 21 Oct 2020 13:48:04 GMT
- request:
    method: get
    uri: https://emma.pixnet.cc/explorer/keywords?format=json&key=%E8%9E%BA%E7%B5%B2%E7%91%AA%E9%BA%97
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - f68eeb3baea378ac9f4245c7a0dca517a54d732c2aac2e95f8c8d86e6b254b28
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":0,"message":"取得資料成功","data":["螺絲瑪麗","義大利麵","螺絲瑪麗意麵坊","Rose
        Mary","Rose Mary螺絲瑪麗意麵坊","中山捷運"],"api_version":"beta"}'
  recorded_at: Wed, 21 Oct 2020 13:48:18 GMT
- request:
    method: get
    uri: https://emma.pixnet.cc/poi?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - bd49e86764677058f644dc98deb1883f048c564e17f48193eb30f00428e64329
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":0,"message":"取得資料成功","data":{"page":1,"per_page":10,"total_num":117271,"total_page":11728,"pois":[{"hash_id":"c145315796e83fbe5412dafc12c0cd47","category_id":0,"cover_image_url":"https:\/\/pic.pimg.tw\/pixevents\/1559096862-1906416432.jpg","name":"螺絲瑪莉
        Rose Mary","branch_store_name":"","opening_hours_info":{"date":{"Mo":["11:30-14:30","17:30-20:30"],"Tu":["11:30-14:30","17:30-20:30"],"We":["11:30-14:30","17:30-20:30"],"Th":["11:30-14:30","17:30-20:30"],"Fr":["11:30-14:30","17:30-20:30"],"Sa":["11:30-14:30","17:30-20:30"],"Su":["11:30-14:30","17:30-20:30"]},"is_open":false,"opening_time":"11:30","permanently_closed":false},"icon":{"url":"https:\/\/pic.pimg.tw\/pixevents\/1559096862-1906416432.jpg","source_name":"","source_url":"","locked":false},"money":275,"money_description":"平均101-300元\/人","telephone":"02
        2521 9822","payment_method":[],"equipment":[],"urls":{"website":"","facebook":"","instagram":""},"view":8032,"articles_count":0,"address":{"zipcode":"","country":"TW","city":"台北市","town":"中山區","street":"南京西路12巷13弄9號"},"geo":{"latitude":25.0517157,"longitude":121.5219134,"distance":null},"rating":{"avg":4.2,"count":20},"tags":["義式料理"],"comment_tags":[]},{"hash_id":"178bc1c54dae0f3a092a0fe4bf119e18","category_id":0,"cover_image_url":"https:\/\/s.pixfs.net\/common\/poi\/restaurant.jpg","name":"三味食堂日式料理","branch_store_name":"","opening_hours_info":{"date":{"Mo":["11:30-14:30","17:00-22:00"],"Tu":["11:30-14:30","17:00-22:00"],"We":["11:30-14:30","17:00-22:00"],"Th":["11:30-14:30","17:00-22:00"],"Fr":["11:30-14:30","17:00-22:00"],"Sa":["11:30-14:30","17:00-22:00"],"Su":["11:30-14:30","17:00-22:00"]},"is_open":true,"opening_time":"","permanently_[...]
