---
http_interactions:
- request:
    method: get
    uri: https://emma.pixnet.cc/explorer/keywords?format=json&key=soumyaray
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - f68eeb3baea378ac9f4245c7a0dca517a54d732c2aac2e95f8c8d86e6b254b28
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":0,"message":"取得資料成功","data":[],"api_version":"beta"}'
  recorded_at: Wed, 21 Oct 2020 13:48:04 GMT
- request:
    method: get
    uri: https://emma.pixnet.cc/explorer/keywords?format=json&key=%E8%9E%BA%E7%B5%B2%E7%91%AA%E9%BA%97
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - f68eeb3baea378ac9f4245c7a0dca517a54d732c2aac2e95f8c8d86e6b254b28
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":0,"message":"取得資料成功","data":["螺絲瑪麗","義大利麵","螺絲瑪麗意麵坊","Rose
        Mary","Rose Mary螺絲瑪麗意麵坊","中山捷運"],"api_version":"beta"}'
  recorded_at: Wed, 21 Oct 2020 13:48:18 GMT
- request:
    method: get
    uri: https://emma.pixnet.cc/poi?page=1&per_page=10
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Farmid:
      - bd49e86764677058f644dc98deb1883f048c564e17f48193eb30f00428e64329
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":0,"message":"取得資料成功","data":{"page":1,"per_page":10,"total_num":117271,"total_page":11728,"pois":[{"hash_id":"c145315796e83fbe5412dafc12c0cd47","category_id":0,"cover_image_url":"https:\/\/pic.pimg.tw\/pixevents\/1559096862-1906416432.jpg","name":"螺絲瑪莉
        Rose Mary","branch_store_name":"","opening_hours_info":{"date":{"Mo":["11:30-14:30","17:30-20:30"],"Tu":["11:30-14:30","17:30-20:30"],"We":["11:30-14:30","17:30-20:30"],"Th":["11:30-14:30","17:30-20:30"],"Fr":["11:30-14:30","17:30-20:30"],"Sa":["11:30-14:30","17:30-20:30"],"Su":["11:30-14:30","17:30-20:30"]},"is_open":false,"opening_time":"11:30","permanently_closed":false},"icon":{"url":"https:\/\/pic.pimg.tw\/pixevents\/1559096862-1906416432.jpg","source_name":"","source_url":"","locked":false},"money":275,"money_description":"平均101-300元\/人","telephone":"02
        2521 9822","payment_method":[],"equipment":[],"urls":{"website":"","facebook":"","instagram":""},"view":8032,"articles_count":0,"address":{"zipcode":"","country":"TW","city":"台北市","town":"中山區","street":"南京西路12巷13弄9號"},"geo":{"latitude":25.0517157,"longitude":121.5219134,"distance":null},"rating":{"avg":4.2,"count":20},"tags":["義式料理"],"comment_tags":[]},{"hash_id":"178bc1c54dae0f3a092a0fe4bf119e18","category_id":0,"cover_image_url":"https:\/\/s.pixfs.net\/common\/poi\/restaurant.jpg","name":"三味食堂日式料理","branch_store_name":"","opening_hours_info":{"date":{"Mo":["11:30-14:30","17:00-22:00"],"Tu":["11:30-14:30","17:00-22:00"],"We":["11:30-14:30","17:00-22:00"],"Th":["11:30-14:30","17:00-22:00"],"Fr":["11:30-14:30","17:00-22:00"],"Sa":["11:30-14:30","17:00-22:00"],"Su":["11:30-14:30","17:00-22:00"]},"is_open":true,"opening_time":"","permanently_[...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%E8%9E%BA%E7%B5%B2%E7%91%AA%E8%8E%89RoseMary&inputtype=textquery&key=<GITHUB_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ6di4z26pQjQRDuQAecDvA_U"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 01 Nov 2020 07:52:54 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GITHUB_TOKEN>&language=zh-TW&place_id=ChIJ6di4z26pQjQRDuQAecDvA_U
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : {\n      \"address_components\"
        : [\n         {\n            \"long_name\" : \"9號\",\n            \"short_name\"
        : \"9號\",\n            \"types\" : [ \"street_number\" ]\n         },\n         {\n
        \           \"long_name\" : \"南京西路12巷13弄\",\n            \"short_name\" :
        \"南京西路12巷13弄\",\n            \"types\" : [ \"route\" ]\n         },\n         {\n
        \           \"long_name\" : \"中山區\",\n            \"short_name\" : \"中山區\",\n
        \           \"types\" : [ \"administrative_area_level_3\", \"political\" ]\n
        \        },\n         {\n            \"long_name\" : \"台北市\",\n            \"short_name\"
        : \"台北市\",\n            \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n         },\n         {\n            \"long_name\" : \"台灣\",\n            \"short_name\"
        : \"TW\",\n            \"types\" : [ \"country\", \"political\" ]\n         },\n
        \        {\n            \"long_name\" : \"104\",\n            \"short_name\"
        : \"104\",\n            \"types\" : [ \"postal_code\" ]\n         }\n      ],\n
        \     \"adr_address\" : \"\\u003cspan class=\\\"postal-code\\\"\\u003e104\\u003c/span\\u003e\\u003cspan
        class=\\\"country-name\\\"\\u003e台灣\\u003c/span\\u003e\\u003cspan class=\\\"region\\\"\\u003e台北市\\u003c/span\\u003e\\u003cspan
        class=\\\"locality\\\"\\u003e中山區\\u003c/span\\u003e\\u003cspan class=\\\"street-address\\\"\\u003e南京西路12巷13弄9號\\u003c/span\\u003e\",\n
        \     \"business_status\" : \"OPERATIONAL\",\n      \"formatted_address\"
        : \"104台灣台北市中山區南京西路12巷13弄9號\",\n      \"formatted_phone_number\" : \"02 2521
        9822\",\n      \"geometry\" : {\n         \"location\" : {\n            \"lat\"
        : 25.051715,\n            \"lng\" : 121.521913\n         },\n         \"viewport\"
        : {\n            \"northeast\" : {\n               \"lat\" : 25.0530462802915,\n
        \              \"lng\" : 121.5232561302915\n            },\n            \"southwest\"
        : {\n               \"lat\" : 25.05034831970849,\n               \"lng\" :
        121.5205581697085\n            }\n         }\n      },\n      \"icon\" : \"https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/restaurant-71.png\",\n
        \     \"international_phone_number\" : \"+886 2 2521 9822\",\n      \"name\"
        : \"蘿絲瑪莉義麵坊\",\n      \"opening_hours\" : {\n         \"open_now\" : false,\n
        \        \"periods\" : [\n            {\n               \"close\" : {\n                  \"day\"
        : 0,\n                  \"time\" : \"1430\"\n               },\n               \"open\"
        : {\n                  \"day\" : 0,\n                  \"time\" : \"1130\"\n
        \              }\n            },\n            {\n               \"close\"
        : {\n                  \"day\" : 0,\n                  \"time\" : \"2030\"\n
        \              },\n               \"open\" : {\n                  \"day\"
        : 0,\n                  \"time\" : \"1730\"\n               }\n            },\n
        \           {\n               \"close\" : {\n                  \"day\" : 1,\n
 [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%E8%9E%BA%E7%B5%B2%E7%91%AA%E8%8E%89RoseMary&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [
              {
                 "place_id" : "ChIJ6di4z26pQjQRDuQAecDvA_U"
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 01 Nov 2020 08:05:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?key=<GMAP_TOKEN>&language=zh-TW&place_id=ChIJ6di4z26pQjQRDuQAecDvA_U
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : {\n      \"address_components\"
        : [\n   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%E8%9E%BA%E7%B5%B2%E7%91%AA%E8%8E%89RoseMary&inputtype=textquery&key=BAD_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [],
           "error_message" : "The provided API key is invalid.",
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sun, 01 Nov 2020 08:05:33 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input=%E8%9E%BA%E7%B5%B2%E7%91%AA%E8%8E%89RoseMary&inputtype=textquery&key=B%5CAD_TOKEN
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "candidates" : [],
           "error_message" : "The provided API key is invalid.",
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sun, 01 Nov 2020 08:19:07 GMT
recorded_with: VCR 6.0.0
